generaProyectoTasks/src/caf/war/generaProyectoTasks/wsclient/sfcmpc/services/dummyestablecimientos_wsd/dummyEstablecimientos_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dummyEstablecimientos_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="dummyEstablecimientos" type="tns:dummyEstablecimientos"/>
          <xsd:element name="dummyEstablecimientosResponse" type="tns:dummyEstablecimientosResponse"/>
          <xsd:complexType name="dummyEstablecimientos">
            <xsd:sequence>
              <xsd:element name="entrada" nillable="true" type="tns:entrada"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="entrada">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="establecimientos" nillable="true" type="tns:establecimientos"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="establecimientos">
            <xsd:sequence>
              <xsd:element name="establecimiento" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="profesionales" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="dummyEstablecimientosResponse">
            <xsd:sequence>
              <xsd:element name="salida" nillable="true" type="tns:salida"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="salida">
            <xsd:sequence>
              <xsd:element name="resultado" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="dummyEstablecimientos_WSD_PortType_dummyEstablecimientos">
    <wsdl:part name="parameters" element="tns:dummyEstablecimientos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dummyEstablecimientos_WSD_PortType_dummyEstablecimientosResponse">
    <wsdl:part name="parameters" element="tns:dummyEstablecimientosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="dummyEstablecimientos_WSD_PortType">
    <wsdl:operation name="dummyEstablecimientos">
      <wsdl:input message="tns:dummyEstablecimientos_WSD_PortType_dummyEstablecimientos">
    </wsdl:input>
      <wsdl:output message="tns:dummyEstablecimientos_WSD_PortType_dummyEstablecimientosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_dummyEstablecimientos_WSD_Binder" type="tns:dummyEstablecimientos_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dummyEstablecimientos">
      <soap:operation soapAction="sFCMPC_services_dummyEstablecimientos_WSD_Binder_dummyEstablecimientos" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.dummyEstablecimientos_WSD">
    <wsdl:port name="sFCMPC_services_dummyEstablecimientos_WSD_Port" binding="tns:sFCMPC_services_dummyEstablecimientos_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.dummyEstablecimientos_WSD/sFCMPC_services_dummyEstablecimientos_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
